.phone {
  position: relative;
  border: 7px solid #000;
  outline: 3px solid #9aada7;
  border-radius: 20px;
  width: 373px;
  height: 750px;
}

.header {
  width: calc(100% - 20px);
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  padding: 3px 10px 5px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.unibrow {
  position: absolute;
  left: 50%;
  top: 0;
  width: 200px;
  height: 27px;
  background-color: #000;
  transform: translate(-50%, 0);
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.provider {
  margin: 0;
  color: #fff;
}

.battery {
  margin: 0 0 0 auto;
  width: 20px;
  height: 20px;
}

.application {
  width: 100%;
  height: calc(100% - 25px);
}

.application > div:first-child {
  padding: 25px 0 0;
  border-radius: 12px;
  height: 100%;
}