.wrapper {
  padding: 20px;
  display: flex;
  flex-direction: column;
  margin: 70px 0 0 0;
  background-color: var(--second-black-color);
  border-radius: 15px;
  max-height: calc(100% - 350px);
}

.title {
  font-size: 30px;
  color: var(--white-color);
  margin: 0 0 20px;
}

.list {
  list-style: none;
  padding: 0;
  overflow-y: auto;
}