.field {
  position: relative;
  padding: 15px 0 0;
  margin: 35px 0 0;
  width: 100%;
}

.input {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 1.3rem;
  color: #fff;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}

.input::placeholder {
  color: transparent;
}

.input:placeholder-shown~.label {
  font-size: 1.3rem;
  cursor: text;
  top: 20px;
}

.label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #9b9b9b;
}

.input:focus {
  border-color: var(--main-color);
}

.input:focus~.label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: var(--white-color);
}

/* reset input */
.input:required,
.input:invalid {
  box-shadow: none;
}